/*GLOBAL
#1ebaa6 - green
#0a7bfd - blue
#1d242c - black
#f8f9fc - white
#5e35b0 - violet
#0a7bfd - #1ebaa6 - gradient

#172028
*/
body{
	font-family: 'RobotoLight', sans-serif;
}
h1{
	font-family: RobotoMedium;
	font-size: 55px;
	margin-bottom: 20px;
}
h2{
	font-family: RobotoLight;
	font-size: 44px;
	margin-bottom: 20px;
}
p{
	font-family: RobotoLight;
	font-size: 22px;
}
@font-face {
    font-family: 'RobotoLight';
    src:url('../fonts/roboto/Roboto-Light.ttf') format('truetype')
}
@font-face {
    font-family: 'RobotoMedium';
    src:url('../fonts/roboto/Roboto-Medium.ttf') format('truetype')
}

.head-wrapper{
	background: linear-gradient(90deg, #1ebaa6,  #0a7bfd);
}

/*nav*/
.nav-wrapper{
	padding: 40px 40px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}
.nav-main{
	padding: 20px 130px;
	background-color: #f8f9fc;
	margin-left: auto;
	margin-right: auto;
	color: #1d242c;
}

.nav-link-main{	 
	 color: #1d242c;
}
.nav-link{	 
	 color: #f8f9fc;
}

.navbar-light .navbar-nav .nav-link {
    color:  #f8f9fc;
}
/* change the color of active or hovered links */
.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:hover .nav-link {
    color: #f8f9fc;
}


.navbar-custom .navbar-nav .nav-link {
    color:  #1d242c;
    padding: 20px;
}

.navbar-light .navbar-nav .nav-link {
    padding: 20px;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #1ebaa6;
}

.custom-toggler.navbar-toggler {
    border-color: none;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler>.close {
    display:inline;
}
.custom-toggler.collapsed>.close, .custom-toggler:not(.collapsed)>.navbar-toggler-icon {
    display:none;
}

.navbar-nav > li {
  float: left;
  position: relative;
}
.navbar-custom .navbar-nav .active a::after {
  border-bottom: 2px solid #1ebaa6;
  bottom: 10px;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
}


/*hero*/

/*hero 404 */
.hero-wrapper-main{
  min-height: 400px;
  padding-top: 100px;
  color: #f8f9fc;
  
}

.hero-wrapper{
  min-height: 600px;
  padding-top: 100px;
  
}
.hero-wrapper h1, .hero-wrapper p{
	color: #f8f9fc;
}
.hero-img{
	position: absolute;
    left: auto;
    right: 22%;
    top: auto;
    bottom: -70px;
}

/*hero 404 */
.hero404-wrapper{
  min-height: 800px;
  padding-top: 100px;
  color: #f8f9fc;
  
}

/*-----
 CONTENT PAGES
-----*/
.content-solutions-wrapper h2{
	color: #0a7bfd;
}
/*.content-services-right img,*/
.content-services-left img{
	padding-left: 100px;
}

.content-solutions-wrapper{
	padding: 0 100px;
	margin: 0 200px;
	min-height: 500px
}

.content-solutions-float{
	position: absolute;
    top: 400px;
    left: 1%;
    background-color: white;
    padding: 50px 200px;
    margin: 0 100px;
}

.content-services-wrapper{
	padding-top: 10px;
}
.content-services-right{
	background-color: #f8f9fc;	
    padding: 60px 200px;
}
.content-services-left{
    padding: 60px 200px;
}


/*solutions*/
.solutions-wrapper{
	padding-top: 93px;
}

.solutions-head{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	text-align: center;
   	padding-top: 30px;
   	padding-bottom: 45px;

}
.solutions-content col{
	margin:10px;
}

.solutions-head h2{
	color: #0a7bfd;

}
.solutions-content h3{
	font-size: 18px;
	color: #1ebaa6;
	margin-top: 20px;
	font-family: RobotoMedium;
	margin-bottom: 20px;
}
.solutions-text{
	font-size: 16px;
	color: #1d242c;
	text-align: center;
	margin-left: 35px;
	margin-right: 35px;
}

.solutions-content img{
	border: 2px solid black;
}

.contact-wrapper{
	    padding: 20px 100px;
}


/*services*/
.services-wrapper{
	/*border: 1px dashed deeppink;*/
	background-color: #f8f9fc;
	padding-top: 100px;
	padding-bottom: 100px;	
	background-image: -webkit-linear-gradient(-65deg, #F9FAFD 50%, #1d242c 50%);

}
.services-box{
	width: 250px;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	text-align: center;
  	min-height: 200px;
  	background-color: #f8f9fc;
}

.services-box img{
	margin-top: 50px;
	margin-bottom: 20px;
}
.services-head{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    text-align: center;
    padding-bottom: 30px;
}

.services-head h2{
	color: gray;
}
.services-text{
	color: #1d242c;
}

/*testimonials*/
.testimonials-wrapper{
	/*border: 1px dashed deeppink;*/
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #532CA9;
	

}
.testimonials-head{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
    color: #f8f9fc;
    font-size: 20px;
}
.testimonials-head p{
	color: #FFFFFF!important;
}
.span-name{
	color: #f8f9fc;
}
.span-company{
	color: #f8f9fc;
	position: absolute;
    padding-left: 10px;
    font-size: smaller;
    margin-top: 30px;
}
.testimonial-icons{
	position: absolute;
}

.testimonials-wrapper img{
	vertical-align: middle;
    float: left;
        margin-right: 20px;
}

.testimonials-name{
	font-size: 18px;
	font-family: RobotoMedium;
	line-height: 0.7;
	padding-top: 20px;
}
.testimonials-company{
	font-size: 16px;
	line-height: 0.4;
}



/*blog*/
.blog-wrapper{
	/*border: 1px dashed deeppink;*/
	/*margin-bottom: 50px;*/
	padding: 50px;
	background-color: #1ebaa6;
	color: #f8f9fc;

}

.blog-box{
	width: 350px;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	text-align: center;
  	background-color: #f8f9fc;
  	padding-bottom: 30px;

}

.blog-box img{
	width: 100%;
	height: 50%;
}
.blog-box h4{
	font-family: Roboto Light;
	font-size: 13px;
	color: #1ebaa6;
	margin: 10px;
}
.blog-box h2{
	font-family: Roboto Light;
	font-size: 23px;
	color: #1d242c;
	margin: 10px;
}

.blog-box p{
	font-family: Roboto Light;
	font-size: 14px;
	color: #7D7F83;
	margin: 20px;
}

.blog-box button{
	margin-bottom: 20px;
}

.blog-head{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    text-align: center;
    /*margin-bottom: 50px;*/

}

/*c2a*/
.c2a-wrapper{
	background-color: #0a7bfd;
	padding: 100px;
	color: #f8f9fc;
}

.c2a-head{
	color: #f8f9fc;
	font-size: 30px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;

}

/*footer*/
.footer-wrapper{
	/*border: 1px dashed deeppink;*/
	/*margin-top: 50px;*/
	
	background-color: #172028;
	color: #f8f9fc;
	font-size: 14px;

}
.footer-head{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;
    margin-bottom: 50px;

}


.footer-head img{
	margin-top: 50px;
}
.footer-links{
	width: 50%;
	color: #f8f9fc;
	/*margin-bottom: 20px;*/
	margin-bottom: 50px;
}
.footer-links a , 
.footer-copyright a{
	color: #f8f9fc;
	font-size: 13px;

}

blockquote {
    font-family: Georgia, serif;
    position: relative;
    margin: 0.5em;
    padding: 0.5em 2em 0.5em 3em;
}
/* Thanks: http://callmenick.com/post/styling-blockquotes-with-css-pseudo-classes */
blockquote:before {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 6em;
    line-height: 1;
    top: 0;
    left: 0;
    content: "\201C";
}
/*blockquote:after {
    font-family: Georgia, serif;
    position: absolute;
    display: block; don't use this, it raised the quote too high from the bottom - defeated line-height? 
    float:right;
    font-size:6em;
    line-height: 1;
    right:0;
    bottom:-0.5em;
    content: "\201D";
}*/
blockquote footer {
    padding: 0 2em 0 0;
    text-align:right;
}
blockquote cite:before {
    content: "\2013";
}

.button {
    /*background-color: #4CAF50;*/
    border: none;
    /*color: white;*/
    border-radius: 25px;;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 9px 28px;
    width: 150px;
    height: 40px;
    text-transform: uppercase;
}

.button-hero {color: #1ebaa6; width: 100px;  background-color: #f8f9fc; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.button-blog {color: #f8f9fc; background-color: #0a7bfd; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.button-c2a {color: #f8f9fc; background-color: transparent; border: 2px solid #f8f9fc ;}

label{
	color: rgba(29,36,44,0.8);
}

input[type=text], input[type=email],select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #f3f3f3;
    border-radius: 6px;
    /*box-sizing: border-box;*/
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=text]:hover, 
input[type=text]:active,
input[type=text]:focus,
input[type=email]:hover,
input[type=email]:active,
input[type=email]:focus,
select:hover, 
select:active, 
select:focus, 
textarea:hover,
textarea:active,
textarea:focus {
    width: 100%;
    padding: 12px;
    border: 1px solid #1ebaa6;
    border-radius: 6px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}